/* =========================================================
   =                     GLOBAL SETTINGS                    =
   ========================================================= */

html {
  /* For WebKit browsers */
  ::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  scrollbar-width: none;

  /* For Internet Explorer */
  -ms-overflow-style: none;
}

:root {
    --primary-color: #34f658;
    --secondary-color: #4fc965;
    --accent-color: #f3d912;
    --background-color: #060606;
    --overlay-color: rgba(21, 21, 21, 0.571);
    --text-color: #cdcdcd;
    --font-family: monospace;
    --border-radius: 15px;
    --button-radius: 100px;
    --border-color: #51515180;
    --transition-duration: 0.3s;
    --muted: #888888;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    font-family: var(--font-family) !important;
    color: var(--primary-color) !important;
}

h2, h3 {
    font-size: 1.4rem;
    font-family: var(--font-family) !important;
    color: var(--primary-color) !important;
}

h4, h5, h6 {
    font-family: var(--font-family) !important;
    color: var(--accent-color) !important;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 900px;
    margin: 0 auto;
}

p.bold {
    font-weight: bold !important;
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
}

.section-subtitle {
    font-size: 1.2rem !important;
    color: var(--text-color) !important;
    margin-top: -0.5rem !important;
    margin-bottom: 1.5rem !important;
}

.section {
    height: auto;
    padding: 4rem 2rem;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: var(--border-radius);
}

.muted {
    color: var(--muted) !important;
    font-size: 1rem !important;
    margin-bottom: 0.8rem !important;
    margin-top: -0.5rem !important;
}

buffer {
    display: block;
    height: 1.2rem;
}

largeBuffer {
    display: block;
    height: 2.5rem;
}

label {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
    font-weight: bold;
}

/* =========================================================
   =                     Dock Navigation                   =
   ========================================================= */
.dockNav {
    position: fixed;        
    top: 1rem;
    left: 0;
    right: 0;
    z-index: 1000;         
    margin: 0 auto;
    max-width: 35rem;
    
    background-color: var(--overlay-color);
    border-radius: var(--border-radius);
    transition: background-color var(--transition-duration);
    
    height: 30px;
    padding: 10px 0;
    border: 2px solid var(--border-color);
    
    display: flex;          
    justify-content: center;
}

.dockNav a {
    font-size: 1.1rem;
    color: var(--text-color);
    text-decoration: none;
    margin: 0 15px;
    position: relative;
    padding-bottom: 0.25rem;
    font-weight: bold;
}

.dockNav a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 0;
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    box-shadow: var(--primary-color) 0 0 15px;
}

.dockNav a:hover::before {
    width: 100%;
    transition: width var(--transition-duration) ease-out, box-shadow var(--transition-duration) ease-out;
}


/* =========================================================
   =                     Button Styles                     =
   ========================================================= */
.btn {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: var(--button-radius);

    background: transparent;
    overflow: hidden;
    z-index: 1;
}

.btn::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--secondary-color);
    border-radius: inherit;
    z-index: -2;
}

.btn::before {
    content: "";
    position: absolute;
    inset: 0;
    width: 0;
    background-color: var(--primary-color);
    border-radius: inherit;
    z-index: -1;
    box-shadow: var(--primary-color) 0 0 0px;
    transition: width var(--transition-duration) ease-out, color var(--transition-duration) ease-out, box-shadow var(--transition-duration) ease-out;
}

.btn:hover::before {
    width: 100%;
    box-shadow: var(--primary-color) 0 0 25px;
}

.btn:hover {
    color: black;
    box-shadow: var(--primary-color) 0 0 25px;
    transition: color var(--transition-duration) ease-out, box-shadow var(--transition-duration) ease-out;
}


/* =========================================================
   =                     Hero Styles                       =
   ========================================================= */
.hero {
    height: 1000px;               
    background-image: 
        linear-gradient(#26ff3f10, #060606);
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat;
    display: flex;
    align-items: center;          
    justify-content: center;      
    position: relative;
    color: white;                
    text-align: center;
    padding: 2rem;
}

.hero-content {
    padding: 2rem;
}

.hero h1 {
    font-size:  5rem;
    margin-bottom: 2rem;
}

/* =========================================================
   =                     Footer Styles                     =
   ========================================================= */
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1.4rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--border-color);
}

/* =========================================================
   =                     Element Styles                    =
   ========================================================= */

.work-content, .team-content {
    margin: 0 auto;
    max-width: 100rem;
    gap: 1.5rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-content {
    max-width: 75rem !important;
}

.card {
    background-color: var(--overlay-color);
    border-radius: var(--border-radius);
    padding: 1.5rem;
    margin: 1rem;
    max-width: 15rem;
    transition: transform 0.3s ease;
}

.card p {
    font-size: 0.9rem;
    color: var(--text-color);
}

.card p.bold {
    font-size: 1rem !important;
}

.card:hover {
    transform: translateY(-10px) rotate(-2deg) scale(1.07); /* lifts bottom, slight tilt */
}

.hList {
    list-style: none;        /* removes bullets */
    padding: 0;
    margin: 0;
    display: flex;           /* horizontal layout */
    justify-content: center; /* centers items horizontally */
    gap: 1rem;             /* optional spacing between items */
    flex-wrap: wrap;
}

.hList li {
    display: inline-block;   /* ensures proper spacing */
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 8px;
}

input {
    width: 300px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--overlay-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 1rem;
}

input:focus, textarea:focus {
    outline: none;
    border: 3px solid var(--primary-color);
    box-shadow: var(--primary-color) 0 0 20px;
}

textarea {
    width: 300px;
    height: 150px;
    padding: 10px;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    background-color: var(--overlay-color);
    color: var(--text-color);
    font-family: var(--font-family);
    font-size: 1rem;
    resize: vertical;
}

form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}  

underline {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-style: dotted;
}